{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : tableau de gestion synthèse
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}

{% import "macroForm.html.twig" as f %}
<div class="row changeObserv" id="synthesePatient" style="">

    <div class="jumbotron col-md-12">

      {% for module in page.modules %}
        {% set k=module.name %}
        {% if k != 'secretariat' and (page.modules|length < 4 or k != 'base') %}
          <div id="latForm" class="hideshow mod{{ k }} {% if k!=first %}d-none{% endif %} changeObserv">
            {% if page.synthFormNames[k] %}
              {{ f.formbuilder(page.synthFormDatas[k] , page.synthFormNames[k]) }}
            {% else %}
              {{ f.formbuilder(page.synthFormDatas['base'] , page.synthFormNames['base']) }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

</div>
